.animate-loop-scroll {
  animation: loop-scroll 50s linear infinite;
}

.paused {
  animation-play-state: paused;
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}